
div.clear {
	clear: left;
}
/*horní sekce, formátvání avataru, jména,povolání*/

div.aboutCharacter {
    margin-left: 0px;
    min-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
	padding: 0.5em;
	border: 2px;
	border-color: white;
	border-style: solid;
	border-radius: 1em;
	background-color: #535353;
}

div.avatar img {
	border-radius: 50%;
	float:left;
	}

table.classAndCharacterName {
	padding-left: 1em;
	font-size:1.5em;
	margin-top: 0em;
	margin-bottom: 0em;
}

/* ATTRIBUTES */


div.attributes {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left:0.5em;
	padding-right: 0.5em;
	font-size: 1.4em;
	border: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 1em;
	margin-bottom: 0.5em;
	min-height: 350px;
}

div.attributes h1 {
	color: white;
	background-color: grey;
	font-size: 0.7em;
}

div.attributes table {
	margin: 0;
}

div.attributes table tr:nth-child(2n) {
	background-color: #999999;
}

div.attributes table td:first-child {
	text-align:	left;
	padding-left: 0.5em;
	width: 100%;
}

div.attributes table td:last-child {
	padding-right: 0.5em;
	text-align: center;
}

.icon {
	font-size: 26px;
	padding-left: 10px;
	text-align: right;
}

/* HLAVNI MENU */

div.mainMenu {
	text-align: center;
	font-size:2em;
	border: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 1em;
	margin-bottom: 0.5em;
	background: #737373;
	min-width: 300px;
}

div.mainMenu a {
	color: inherit;
    display: block;
    padding: 1em;
}

div.mainMenu a:hover {
	color: white;
}

/* Paticka */

div.footerNavigation {
    margin-left: 0px;
    min-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
	padding: 0.5em;
	border: 2px;
	border-color: white;
	border-style: solid;
	border-radius: 1em;
	background-color: #535353;
}

div.footerNavigation table {
	padding-left: 1em;
	padding-right: 1em;
	font-size:1.5em;
	margin-top: 0em;
	margin-bottom: 0em;
	width: 100%;
}

div.footerNavigation td {
	width: 100%;
	font-weight: bold;
}

div.footerNavigation td:last-child {
	text-align: right;
}