table {
    overflow-x: auto;
    display: block;
    max-width: calc(100vw - 1em);
    margin-top: 1em;
    margin-bottom: 1em;
}

table caption {
    font-size: 1.3em;
}

table.content {
    float: left;
    margin-left: 0px;
    min-width: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

h1 + table.content {
    float: left;
    margin-left: 0;
}

.calculation > table.content {
    float: none;
    margin-bottom: 1em;
}

table.content th {
    text-align: left;
}

table.content th:last-child {
    text-align: right;
}

table.content td:first-child {
    padding-left: 24px;
	font-size: 1.5em;
}

table.content tr.main td:first-child, table.content td.main {
    padding-left: 12px;
}

table.content td.sub {
    padding-left: 36px;
}

table.content td:last-child {
    text-align: right;
	font-size: 1.5em;
}

table.basic {
    border-collapse: collapse;
    border-spacing: 0;
}

table.basic thead th {
    padding-right: 1em;
    padding-top: 0.2em;
}

table.basic thead th.title {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table.basic thead th:first-child {
    text-align: left;
}

table.basic thead th.title {
    text-align: center;
    font-size: 150%;
}

table.basic td {
    text-align: center;
    padding-right: 1em;
}

table.basic td:first-child {
    text-align: left;
}

table.basic tbody .title {
    font-size: 110%;
    padding-top: 1em;
}

table.basic tbody tr:first-child .title {
    padding-top: 0;
}

table.basic tbody {
    font-size: 105%;
}

table.basic tbody + thead tr th {
    padding-top: 1em;
}

table.basic th[colspan="100%"]:first-child {
    text-align: center;
}

table.basic thead tr:first-child th {
    border-top: 1px solid black;
}

table.basic thead tr:last-child th {
    border-bottom: 1px solid black;
}

table.basic tbody tr:last-child td {
    border-bottom: 1px solid black;
}

table.basic.first-column-centered thead th:first-child {
    text-align: center;
}

table.basic.first-column-centered td:first-child {
    text-align: center;
}

table.basic.second-column-to-left thead th {
    text-align: left;
}

table.basic.second-column-to-left thead th.title {
    text-align: center;
}

table.basic.second-column-to-left tbody td {
    text-align: left;
}

table.simplified {
    border-collapse: collapse;
    border-spacing: 0;
}

table.simplified thead th {
    padding-right: 1em;
}

table.simplified thead th:first-child {
    text-align: left;
}

.last-column-to-left th:last-child {
    text-align: left;
}

.last-column-to-left td:last-child {
    text-align: left;
}

table.simplified.last-column-to-left thead th:last-child {
    text-align: left;
}

table.simplified.last-column-to-left tbody td:last-child {
    text-align: left;
}

table.simplified.text-to-left thead th {
    text-align: left;
}

table.simplified.text-to-left tbody td {
    text-align: left;
}

table.simplified thead th.title {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table.simplified thead th:first-child.title {
    text-align: center;
    font-size: 150%;
}

table.simplified td {
    text-align: center;
    padding-right: 1em;
}

table.simplified td:first-child {
    text-align: left;
}

table.simplified tbody .title {
    font-size: 110%;
    padding-top: 1em;
}

table.simplified tbody tr:first-child .title {
    padding-top: 0;
}

table.simplified tbody {
    font-size: 105%;
}

table.simplified tbody + thead tr th {
    padding-top: 1em;
}

table.simplified tbody tr:last-child td {
    border-bottom: 1px solid black;
}

table.first-column-left {
}

table.first-column-left th:first-child {
    text-align: left;
}

table.first-column-left td:first-child {
    text-align: left;
}

table.first-column-centered thead th:first-child {
    text-align: center;
}

table.first-column-centered td:first-child {
    text-align: center;
}

table.last-column-centered thead th:last-child {
    text-align: center;
}

table.last-column-centered td:last-child {
    text-align: center;
}

table.no-border thead th.title {
    border: none;
    text-align: center;
    font-size: 20px;
}

table.no-border thead tr:last-child th {
    border: none;
}

table.no-border tbody tr:last-child td {
    border: none;
}

table.no-border.text-centered {
    text-align: center;
}

table.no-border-on-header-bottom thead tr:last-child th {
    border-bottom: none;
}

table.borderless {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

table.borderless thead th {
    padding: 0 0.5em;
}

table.battle-stats {
    background: url('/images/generic/battle-stats.png') no-repeat;
    background-size: 100%;
    display: table;
}

table.battle-stats th {
    padding-top: 6px;
    padding-left: 10px;
    font-family: Georgia, serif;
}

table.battle-stats thead th:first-child {
    text-align: left;
}

table.battle-stats td {
    padding: 3px 24px 10px 15px;
    font-family: sans-serif;
    font-size: 0.8em;
}

table.battle-stats tbody:last-child td:last-child {
    padding-bottom: 26px;
}

table.item-combination {
    background: url('/images/generic/items-combination.png') no-repeat;
    background-size: 100%;
    width: 12em;
    height: 8em;
}

table.item-combination th {
    font-family: Georgia, serif;
    padding: 0;
    text-align: right;
    font-size: 0.8em;
}

table.item-combination thead:first-child th {
    padding: 10px 10px 5px 20px;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    font-size: 1em;
}

table.item-combination thead + thead th:first-child {
    text-align: center;
    padding-left: 4px;
    vertical-align: bottom;
}

table.item-combination thead + thead th + th {
    vertical-align: top;
    padding-top: 4px;
    padding-right: 1.5em;
}

table.vehicle {
    text-align: left;
    border-collapse: collapse;
}

table.vehicle th:first-child, table.vehicle td:first-child {
    min-width: 6em;
}

table.vehicle th, table.vehicle td {
    padding: 0 5px 0 0;
}

tbody.second-column-text-left td + td {
    text-align: left;
}

.example table {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bolder;
}

table.calculation {
    margin: 0;
    font-weight: bold;
    font-family: monospace;
}

table.second-column-left-padded td + td {
    padding-left: 35px;
}

table.grid {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

table.grid, table.grid td {
    border: 1px solid black;
}

table.grid td {
    text-align: center;
    line-height: 1em;
    padding: 0 2px;
    min-width: 0.9em;
}

.calculation table {
    font-weight: bold;
    min-width: inherit;
    margin: 0;
}

.calculation table.result td:first-child {
    text-align: right;
}

.calculation table.result td:first-child + td {
    text-align: right;
}

table.centrifuged {
    text-align: center;
}

table.centrifuged thead th.title {
    text-align: center;
}

table.centrifuged th:first-child {
    text-align: left;
    padding: 0 0.5em;
}

table.centrifuged td:first-child {
    text-align: left;
    padding-left: 2em;
}

table.centrifuged th:last-child {
    text-align: right;
    padding-right: 1em;
}

table.centrifuged td:last-child {
    text-align: right;
    padding-right: 2em;
}

table.items {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

table.items thead th {
    padding: 0 0.5em;
}

table.items thead th:first-child {
    text-align: left;
    padding: 0;
}

table.items tbody td:first-child {
    text-align: left;
}

table.bonus-to-value {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
    margin-left: 15px;
}

table.bonus-to-value:first-child {
    margin-left: 0;
}

.bonus-to-value-title + table.bonus-to-value {
    margin-left: 0;
}

table.bonus-to-value th {
    border: solid black thin;
    border-top: none;
    padding: 0 5px;
    min-width: 3em;
}

table.bonus-to-value td {
    border-left: solid black thin;
    border-right: solid black thin;
}

table.bonus-to-value tr:last-child td {
    border-bottom: solid black thin;
}

table.bonus-to-value tr:nth-child(even) {
    background: #CCC
}

table.bonus-to-value tr:nth-child(odd) {
    background: #FFF
}

table.squared-bonus-to-value {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
}

.bonus-to-value-title + table.squared-bonus-to-value {
    margin-left: 0;
}

table.squared-bonus-to-value td {
    border: solid black thin;
    min-width: 2em;
}

table.squared-bonus-to-value td:first-child {
    font-weight: bold;
}

table.squared-bonus-to-value tr:first-child td {
    font-weight: bold;
}

table.squared-bonus-to-value tr:first-child td:first-child {
    font-weight: normal;
}

table.rows {
    margin: 0;
    border-spacing: 0;
}

table.paragraphs {
    margin: 0 0 0 1em;
    border-spacing: 0;
}

table.tab-intended-content {
    padding-left: 0;
}

table.tab-intended-content th:not(:first-child), table.tab-intended-content td:not(:first-child) {
    padding-left: 2em;
}

.preview table {
    margin: 0;
    padding: 0;
}

td {
    padding-right: 1em;
}

td:last-child {
    padding-right: 0;
}